<h1>Editing information <%= @pet.name %></h1>
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :found, label: "Was this pet returned to the owner?" %>
  <%= f.submit "Edit Pet", class: "btn btn-primary" %>
<% end %>